/* Fonts */

@font-face {
  font-family: BarlowCondensed-Regular;
  src: url(fonts/BarlowCondensed-Regular.ttf);
}

@font-face {
  font-family: Bellefair-Regular;
  src: url(fonts/Bellefair-Regular.ttf);
}

/* variables */

:root {
  --clr-primary: #0b0d17;
  --clr-secondary: #d0d6f9;
  --clr-neutral: #ffffff;

  --fs-heading-one: 9.375rem;
  --fs-heading-two: 6.25rem;
  --fs-heading-three: 3.5rem;
  --fs-heading-four: 2rem;
  --fs-heading-five: 1.75rem;
  --spacing-heading-five: 4.75ch;

  --fs-subheading-one: 1.75rem;
  --fs-subheading-two: 0.875rem;
  --spacing-subheading-two: 2.35ch;
  --fs-nav-text: 1rem;
  --spacing-nav-text: 0.275ch;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Barlow-SemiBold;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  color: #ffffff;
}

h2 {
  font-size: 6.25rem;
  font-family: Bellefair-Regular;
}

.background {
  background-image: url(assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* navigation */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav-list hr {
  width: 0%;
  border: none;
}

.nav-list {
  display: none;
  font-family: BarlowCondensed-Regular;
  list-style-type: none;
}

.nav-background-image {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 80%;
  height: 100%;
  background-image: url("assets/home/background-home-mobile.jpg");
  background-size: cover;
  filter: blur(15px);
}

.nav-background-image[data-visible] {
  display: flex;
}

.nav-close-button {
  display: none;
}

.nav-close-button[data-visible] {
  display: block;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}

.nav-close-button[data-visible]:hover {
  cursor: pointer;
}

.nav-list[data-visible] {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 2rem;
  padding-top: 3rem;
  font-size: var(--fs-nav-text);
  letter-spacing: var(--spacing-nav-text);
  width: 70%;
  height: 100%;
  z-index: 2;
}

.nav-list[data-visible] li {
  line-height: 4rem;
}

.nav-list[data-visible] span {
  padding-right: 0.5rem;
}

.nav-list span {
  font-weight: bold;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-neutral);
}

.nav-hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0);
}

.nav-hover:hover {
  text-decoration: underline;
  text-decoration-color: var(--clr-secondary);
  text-underline-offset: 0.5em;
  transition: 0.8s ease;
}

.active {
  text-decoration: underline;
  text-decoration-color: var(--clr-neutral);
  text-underline-offset: 0.5em;
}

.navigation button {
  border: none;
  background: transparent;
}

.navigation button:hover {
  cursor: pointer;
}

/* home content */
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "text"
    "button";
  text-align: center;
}

.text {
  grid-area: text;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content p {
  color: #d0d6f9;
  font-size: 1rem;
  font-family: BarlowCondensed-Regular;
  max-width: 50ch;
  text-align: center;
  opacity: 0.8;
}

.subheading {
  letter-spacing: 0.7ch;
}

.content p:nth-of-type(2) {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.btnExplore {
  grid-area: button;
  margin-top: 10rem;
  border: none;
  border-radius: 100%;
  width: 8em;
  height: 8em;
  font-family: Bellefair-Regular;
  font-size: 1.25rem;
  outline: 50px solid rgba(74, 73, 73, 0);
}

.btnExplore:hover {
  outline: 50px solid rgba(74, 73, 73, 0.6);
  transition: 1.5s ease;
  cursor: pointer;
}

@media (min-width: 50em) {
  .background {
    background-image: url(assets/home/background-home-tablet.jpg);
  }

  .nav {
    margin: 0;
    padding: 0;
  }

  .nav-list hr {
    border: none;
  }

  .nav img {
    object-fit: contain;
    padding-left: 2rem;
  }

  .nav-button {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    background-color: rgba(74, 73, 73, 0.6);
  }

  .nav-list a {
    display: block;
    padding: 2rem;
  }

  .nav-numbering {
    display: none;
  }

  .nav-hover:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-secondary);
    text-underline-offset: 2.2em;
  }

  .active {
    text-decoration: underline;
    text-decoration-color: var(--clr-neutral);
    text-underline-offset: 2.2em;
  }

  .content {
    margin-top: 7rem;
  }
}

@media (min-width: 90em) {
  .nav {
    padding-top: 2rem;
  }

  .nav-list hr {
    width: 30rem;
    top: 2.7rem;
    left: -28rem;
    z-index: 4;
    position: absolute;
    border: none;
    border-bottom: 2px solid rgba(74, 73, 73, 0.6);
  }

  .nav-hover:hover {
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 2.1em;
  }

  .active {
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 2.1em;
  }

  .nav-numbering {
    display: inline-block;
    padding-right: 1rem;
  }

  .nav-list {
    position: relative;
  }

  .nav-list a {
    display: block;
    padding: 2rem 3.5rem;
  }

  .background {
    background-image: url(assets/home/background-home-desktop.jpg);
  }

  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text button";
  }

  .text {
    grid-area: text;
    display: block;
    align-items: left;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 15rem;
  }

  h2 {
    font-size: var(--fs-heading-one);
    text-align: left;
  }

  .content p {
    font-size: 1.5rem;
    text-align: left;
  }

  .btnExplore {
    margin-top: 25rem;
    width: 10em;
    height: 10em;
    font-size: 1.7rem;
  }
}

/* DESTINATION content*/

.destination-background {
  background-image: url(assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.destination-content {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 3rem;
}

.destination-content img {
  width: 13rem;
}

.destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.destination-content ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.destination-content hr {
  border: none;
  border-bottom: 2px solid rgba(74, 73, 73, 0.6);
  width: 80%;
}

.destination-background-image {
  background-image: url("assets/destination/background-destination-mobile.jpg");
}

.destination-content p {
  font-family: BarlowCondensed-Regular;
  font-size: 1.3rem;
}

.destination-content-number {
  color: rgba(74, 73, 73, 0.8);
  font-weight: bold;
  padding-right: 1rem;
}

.destination-list a {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0);
  color: var(--clr-neutral);
  font-family: BarlowCondensed-Regular;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}

.destination-content h1 {
  font-family: Bellefair-Regular;
  font-size: 4rem;
}

#planet-description {
  color: var(--clr-secondary);
  max-width: 50ch;
}

.distance-travel {
  color: var(--clr-secondary);
  letter-spacing: 0.2rem;
}

.distance-travel-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "distance"
    "travel";
  gap: 2rem;
}

#distance,
#travel-time {
  font-family: Bellefair-Regular;
  font-size: 2rem;
}

.distance {
  grid-area: distance;
}

.travel-time {
  grid-area: travel;
}

.destination-list a[active] {
  text-decoration: underline;
  text-decoration-color: var(--clr-neutral);
  text-underline-offset: 0.5em;
}

@media (min-width: 50em) {
  .destination-background {
    background-image: url(assets/destination/background-destination-tablet.jpg);
  }

  #pick-destination {
    align-self: flex-start;
  }

  .destination-content {
    gap: 3rem;
    margin-top: 4rem;
  }

  .distance-travel-container {
    grid-template-columns: 1fr;
    grid-template-areas: "distance travel";
    gap: 10rem;
  }

  .logo {
    margin-top: 2rem;
  }

  .nav-hover:hover {
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.5em;
  }

  .nav-list .nav-hover:hover {
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 2.15em;
  }
}

@media (min-width: 90em) {
  .destination-background {
    background-image: url(assets/destination/background-destination-desktop.jpg);
  }

  .logo {
    margin-top: 0;
  }

  .destination-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "pickDestination pickDestination"
      "planetImage destinations";
    text-align: left;
    margin: 5rem 5rem;
  }

  #pick-destination {
    grid-area: pickDestination;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }

  #planet-image {
    grid-area: planetImage;
    width: 30rem;
    margin-top: 5rem;
  }

  .destinations {
    grid-area: destinations;
    align-items: flex-start;
  }

  #planet-description {
    max-height: 90px;
    margin-bottom: 2rem;
  }
}

/* crew */

.crew-background {
  background-image: url("assets/crew/background-crew-mobile.jpg");
}

.crew-background-image {
  background-image: url("assets/crew/background-crew-mobile.jpg");
}

.crew-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "meet"
    "crewImage"
    "buttons"
    "crewText";
  gap: 2rem;
  justify-content: center;
}

#meet-your-crew {
  text-align: center;
  grid-area: meet;
}

.crew-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 27rem;
  margin-top: 2rem;
}

.crew-image-container img {
  width: initial;
  height: 100%;
  grid-area: crewImage;
}

.crew-image-container hr {
  width: 80%;
  border: none;
  border-bottom: 2px solid rgba(74, 73, 73, 1);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  grid-area: buttons;
}

.dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.dot:hover {
  background-color: var(--clr-neutral);
  cursor: pointer;
}

.dot[dot-active] {
  background-color: var(--clr-neutral);
}

.crew-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  margin: 0 3rem;
  grid-area: crewText;
}

.crew-content p {
  font-family: BarlowCondensed-Regular;
  font-size: 1.3rem;
}

#crew-title {
  font-family: Bellefair-Regular;
  color: rgba(255, 255, 255, 0.6);
}

#crew-name {
  font-family: Bellefair-Regular;
  font-size: 1.7rem;
}

#crew-description {
  font-size: 1.5rem;
  color: var(--clr-secondary);
  letter-spacing: 0.05rem;
  text-align: center;
  max-width: 50ch;
}

@media (min-width: 50em) {
  .crew-background {
    background-image: url("assets/crew/background-crew-tablet.jpg");
  }

  .crew-background-image {
    background-image: url("assets/crew/background-crew-tablet.jpg");
  }

  body {
    /* overflow: hidden; */
  }

  .crew-content {
    margin-top: 3rem;
    grid-template-areas:
      "meet"
      "crewText"
      "buttons"
      "crewImage";
    gap: 2rem;
    justify-content: center;
  }

  .buttons {
    margin-top: 2rem;
  }

  .crew-image-container hr {
    display: none;
  }

  .crew-image-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .crew-image-container img {
    width: initial;
    height: 500px;
    overflow: hidden;
  }

  #meet-your-crew {
    text-align: left;
    margin-left: 2rem;
    letter-spacing: 0.2rem;
  }

  .crew-text {
    gap: 0.5rem;
    margin: 0 3rem;
    grid-area: crewText;
    max-height: 250px;
  }

  .crew-content p {
    font-family: BarlowCondensed-Regular;
    font-size: 1.3rem;
  }

  #crew-title {
    font-family: Bellefair-Regular;
    color: rgba(255, 255, 255, 0.6);
  }

  #crew-name {
    font-family: Bellefair-Regular;
    font-size: 2rem;
  }

  #crew-description {
    font-size: 1.3rem;
    max-width: 80ch;
    max-height: 60px;
  }
}

@media (min-width: 90em) {
  .crew-background {
    background-image: url("assets/crew/background-crew-desktop.jpg");
  }

  .crew-background-image {
    background-image: url("assets/crew/background-crew-desktop.jpg");
  }

  .crew-content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "meet meet"
      "crewText ."
      "buttons buttons"
      "crewImage crewImage";
    padding-left: 10rem;
    align-items: flex-start;
  }

  .crew-image-container img {
    width: 40rem;
    height: 50rem;
    object-fit: contain;
    overflow: visible;
  }

  .crew-image-container {
    grid-area: crewImage;
    position: relative;
    bottom: 12rem;
    left: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
  }

  .crew-text {
    align-items: flex-start;
    margin-top: 5rem;
  }

  #crew-description {
    text-align: left;
  }

  .buttons {
    justify-content: left;
    margin-left: 3rem;
    margin-top: 5rem;
    z-index: 2;
  }

  .crew-image-container hr {
    width: 80%;
    border: none;
    border-bottom: 2px solid rgba(74, 73, 73, 1);
  }
}

@media (min-width: 120em) {
  .crew-image-container img {
    width: 50rem;
    height: 50rem;
  }

  .crew-image-container {
    grid-area: crewImage;
    position: relative;
    bottom: 15rem;
    left: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
  }
}

/* technology */

.technology-background {
  background-image: url(assets/technology/background-technology-mobile.jpg);
}

.technology-background-image {
  background-image: url(assets/technology/background-technology-mobile.jpg);
  filter: blur(5px);
}

.technology-content {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  grid-template-areas:
    "spaceLaunch"
    "techImage"
    "techNumbers"
    "techText";
}

#space-launch-101 {
  grid-area: spaceLaunch;
}

.technology-image-container picture,
.technology-image-container img {
  width: 100%;
  height: 100%;
}

.technology-image-container {
  grid-area: techImage;
  max-height: 290px;
}

.technology-numbers-container {
  grid-area: techNumbers;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.technology-numbers {
  display: flex;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  border: 1px solid var(--clr-neutral);
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.technology-numbers:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.technology-numbers[techNum-active] {
  background-color: var(--clr-neutral);
  color: var(--clr-primary);
}

.technology-text {
  grid-area: techText;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#technology-subtitle {
  font-family: BarlowCondensed-Regular;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  color: var(--clr-secondary);
}

#technology-title {
  font-family: Bellefair-Regular;
  font-size: 2.2rem;
  margin-top: 0.5rem;
}

#technology-description {
  font-size: 1.3rem;
  color: var(--clr-secondary);
  letter-spacing: 0.05rem;
  margin-top: 2rem;
  max-width: 50ch;
}

@media (min-width: 50em) {
  .technology-background {
    background-image: url(assets/technology/background-technology-tablet.jpg);
  }

  .technology-image-container {
    max-height: 350px;
  }

  .technology-image-container img,
  .technology-image-container picture {
    max-width: 100%;
  }

  .technology-content {
    padding-bottom: 5rem;
    margin-top: 2rem;
  }

  #space-launch-101 {
    text-align: left;
    margin-left: 2rem;
  }
}

@media (min-width: 80em) {
  .technology-background {
    background-image: url(assets/technology/background-technology-desktop.jpg);
  }

  .technology-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10rem;
    text-align: left;
    align-items: center;
    height: 100%;
    grid-template-areas:
      "spaceLaunch spaceLaunch spaceLaunch"
      "techNumbers techText techImage";
  }

  .technology-numbers-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;
    gap: 2em;
  }

  .technology-text {
    text-align: left;
    align-items: left;
    align-items: flex-start;
    padding-right: 5rem;
  }

  .technology-image-container {
    max-height: initial;
  }
}

@media (min-width: 90em) {
  .technology-content {
    margin: 0;
    margin-top: 5rem;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  #technology-title {
    text-align: left;
  }

  .technology-image-container picture {
    max-height: initial;
  }

  #space-launch-101 {
    margin-left: 10rem;
  }
}
